.sign-up-container-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  z-index: 1;
}
.image-2-icon1 {
  width: 368.6px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 2;
}
.home {
  display: inline-block;
  min-width: 75px;
}
.blog,
.home,
.pages,
.room-details {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 2;
}
.blog,
.pages {
  position: absolute;
  top: 0;
  left: 135px;
  display: inline-block;
  min-width: 55px;
}
.pages {
  left: 0;
  min-width: 77px;
}
.blog-parent {
  height: 38px;
  width: 190px;
  position: relative;
}
.frame-container,
.home-parent {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.home-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  white-space: nowrap;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.frame-container {
  width: 742px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.password-input {
  height: 51px;
  width: 234px;
  z-index: 2;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.sign-up-container,
.sign-up-container-inner {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.sign-up-container-inner {
  width: 1082px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xl);
}
.sign-up-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-29xl) var(--padding-xl) var(--padding-30xl)
    var(--padding-82xl);
  position: relative;
  gap: var(--gap-205xl-4);
}
@media screen and (max-width: 1700px) {
  .image-2-icon1 {
    flex: 1;
  }
  .sign-up-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1325px) {
  .frame-group {
    flex-wrap: wrap;
  }
  .sign-up-container {
    gap: var(--gap-93xl);
    padding-left: var(--padding-31xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .home-parent {
    flex-wrap: wrap;
  }
  .sign-up-container {
    gap: var(--gap-37xl);
    padding-left: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .blog,
  .pages,
  .room-details {
    font-size: var(--font-size-xl);
  }
  .sign-up-container {
    gap: var(--gap-9xl);
  }
}
